*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 2em;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: lightgray;
    text-align: center;
    padding: 1rem;
}
.cointerner{
    background-color: lightcyan;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 0.4rem 1rem;
    
}
.add_task{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: baseline;
}
.add_task input{
    width: 50%;
    height: 40px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.btn_add{
    width: 40%;
    height: 40px;
    font-size: 30px;
    border: 1px solid lightgray;
    background-color: lightgrey
}
#categories{
    width: 50%;
    height: 40px;
    font-size: 30px;
    margin-bottom: 15px;
}
.done {
    text-decoration: line-through;
}
i{
    padding: 6px;
    
}